/* Practice CSS for wrappers */
/* line 2, ../sass/content.scss */
#bg-wrapper {
  background-image: url("../images/confectionary_purple.png");
}

/* line 6, ../sass/content.scss */
#lg-container {
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
  background-color: white;
}

/* brighten the color of the hamburger menu */
/* line 13, ../sass/content.scss */
span.fa.fa-bars {
  color: #beb0c8;
}

/* second page prevent overlapping over shadow box */
/* line 17, ../sass/content.scss */
#block-system-main > div > div > .col-sm-6 {
  width: 49%;
}

@media screen and (max-width: 767px) {
  /* line 21, ../sass/content.scss */
  #block-system-main > div > div > .col-sm-6 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
/*** end practice ***/
/** Media CSS **/
@media screen and (max-width: 767px) {
  /* line 31, ../sass/content.scss */
  div#featured-image {
    width: 95%;
  }

  /* line 34, ../sass/content.scss */
  dsection#block-webform-client-block-9 {
    width: 85%;
  }

  /* line 37, ../sass/content.scss */
  div#global-search {
    margin-top: 0px;
    z-index: 0;
    margin-bottom: 2%;
    margin-top: 1%;
  }

  /* responsive width of global search form */
  /* line 44, ../sass/content.scss */
  section#block-webform-client-block-9 {
    width: 100% !important;
  }

  /* second page collection search */
  /* line 48, ../sass/content.scss */
  .form-item.webform-component.webform-component-textfield.webform-component--collections-search.form-group.form-item.form-item-submitted-collections-search.form-type-textfield.form-group {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
  }

  /** spacing **/
  /* collection subjects */
  /* line 56, ../sass/content.scss */
  .field.field-name-field-col-collection-subjects.field-type-taxonomy-term-reference.field-label-above {
    padding-bottom: 1%;
  }

  /* paragraph text */
  /* line 60, ../sass/content.scss */
  .field.field-name-body.field-type-text-with-summary.field-label-hidden {
    padding-bottom: 1%;
  }

  /* removes extra margin space above title of collection */
  /* line 64, ../sass/content.scss */
  .main-container > div > .col-sm-12 > h2#page-title {
    margin-top: 0px;
  }

  /* resizes fonts */
  /* line 68, ../sass/content.scss */
  .thumbnail > .caption > h3 > a {
    font-size: medium !important;
  }

  /* line 71, ../sass/content.scss */
  #views-bootstrap-thumbnail-1 > div > div > div > div > p {
    font-size: small !important;
  }

  /*** Secondary Page Wrapper ***/
  /* line 75, ../sass/content.scss */
  .col-sm-6.second_page_wrapper {
    width: 96%;
    display: table;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
/*** Correcting Webpage Overflow ***/
/* line 84, ../sass/content.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/*******************************************
	Front Page Global Collection Search
********************************************/
/* Centers the Global Search Bar */
/* line 96, ../sass/content.scss */
section#block-webform-client-block-9 {
  width: 58%;
  margin: 0 auto;
  padding-top: 3px;
}

/* line 101, ../sass/content.scss */
button.webform-submit.button-primary.btn.btn-primary.form-submit {
  display: none;
}

/**************************
		Flexslider
**************************/
/* line 108, ../sass/content.scss */
div#flexslider-1 {
  border: 0px;
  margin-bottom: 0px;
}

/*************************************
		Collections List/View
**************************************/
/*** Button Styles ***/
/* line 117, ../sass/content.scss */
#views-bootstrap-thumbnail-1 > div > div > .thumbnail > .caption > .btn-primary {
  background-color: #ff9000;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-color: green;
  width: 75%;
}

/* line 123, ../sass/content.scss */
#views-bootstrap-thumbnail-1 > div > div > .thumbnail > .caption > .btn-primary:hover {
  background-color: orange;
  border-color: #22393a;
}

/* button alignment */
/* line 128, ../sass/content.scss */
a.btn.btn-primary.center-block {
  position: absolute;
  margin-bottom: 12.5%;
  bottom: 0;
  width: 80%;
  left: 52.5%;
  margin-left: -40%;
}

/* Height of Views */
/* line 137, ../sass/content.scss */
#views-bootstrap-thumbnail-1 > div > div > .thumbnail {
  height: 280px;
}

/*** Image in View ***/
/* line 143, ../sass/content.scss */
.thumbnail > img, .thumbnail a > img {
  margin-top: 3.5%;
  border: 1px solid gainsboro;
  padding: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* Title size */
/* line 150, ../sass/content.scss */
.thumbnail > .caption > h3 > a {
  font-size: small;
}

/* line 153, ../sass/content.scss */
.thumbnail > .caption > h3 {
  line-height: .75;
}

/* line 156, ../sass/content.scss */
#views-bootstrap-thumbnail-1 > div > div > div > div > p {
  font-size: smaller;
}

/* line 159, ../sass/content.scss */
.thumbnail > .caption > h3 {
  margin-top: 1px;
}

/* line 162, ../sass/content.scss */
#views-bootstrap-thumbnail-1 > div > div > .thumbnail {
  background-color: whitesmoke;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

/*******************************
	   Second Page Styles
*******************************/
/* Centering Image */
/* Adjust title font size */
/* line 175, ../sass/content.scss */
#block-system-main > div > div > div > div > div > div > h2, h2#page-title {
  font-size: 18px;
}

/* Adds padding around paragraph below image */
/* line 179, ../sass/content.scss */
#block-system-main > div > div > div > div > div > div > p {
  padding-bottom: 1%;
  padding-top: 1%;
}

/* Adds padding below collections abb: content */
/* line 184, ../sass/content.scss */
.field.field-name-field-collection-abb-.field-type-text.field-label-above {
  padding-bottom: 2%;
}

/* Collection Search Bar */
/* line 188, ../sass/content.scss */
.form-item.webform-component.webform-component-textfield.webform-component--collections-search.form-group.form-item.form-item-submitted-collections-search.form-type-textfield.form-group {
  width: 80%;
  padding-top: 1%;
  padding-bottom: 1%;
}

/*** Styles for right side wrapper ***/
/* line 194, ../sass/content.scss */
.col-sm-6.second_page_wrapper {
  background-color: whitesmoke;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  padding: 20px;
}

/* padding */
/* line 200, ../sass/content.scss */
#block-system-main > div > div > div > div > div > div > p {
  padding-bottom: 1%;
  padding-top: 1%;
}

/* line 204, ../sass/content.scss */
.field .field-label {
  padding-bottom: 2%;
}

/* line 207, ../sass/content.scss */
.field-items {
  padding-bottom: 1%;
}

/* line 210, ../sass/content.scss */
a.btn.btn-success {
  margin-top: 1%;
  background-color: #ff9000;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-color: green;
}

/* line 216, ../sass/content.scss */
a.btn.btn-success:hover {
  background-color: orange;
  border-color: #22393a;
}
