@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/********************
	Footer Styles
*********************/
@import url(https://fonts.googleapis.com/css?family=Cinzel);
/* line 6, ../sass/footer.scss */
div#footer {
  color: #a3a3a3;
  padding: 1% 0 2% 2%;
  background-image: url("../images/black_mamba.png");
}

/* line 12, ../sass/footer.scss */
.footer_title {
  color: #ffffff;
  font-size: 16px;
  margin: 20px 0px 0px 0px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  letter-spacing: 2px;
}

/* line 21, ../sass/footer.scss */
.footer {
  border-top: none;
}

/* line 26, ../sass/footer.scss */
.footer_columns a {
  color: #00adad;
}
/* line 29, ../sass/footer.scss */
.footer_columns a:hover {
  color: darkslategray;
}

/* line 34, ../sass/footer.scss */
.footer_row {
  width: 30%;
}
/* line 36, ../sass/footer.scss */
.footer_row hr {
  border-top: 1px solid #454444;
}

/***********************************
	Stewart Education Foundation
***********************************/
/* line 46, ../sass/footer.scss */
#stewart_eduction {
  text-align: right;
  font-family: cinzel;
}

/* line 50, ../sass/footer.scss */
#ste_edu_foundation {
  background-color: #2E2E2E;
  border-top: 2px solid #3e3e3e;
}

/* line 55, ../sass/footer.scss */
#ste_edu_foundation > .row > div > footer.footer.container {
  padding: 4px 4px 4px 4px;
  margin: 0px;
  width: 100%;
}

/*****************
	Mobile Css
******************/
@media screen and (max-width: 767px) {
  /* line 65, ../sass/footer.scss */
  div#footer {
    padding-bottom: 6%;
  }
}
@media screen and (max-width: 991px) {
  /* line 70, ../sass/footer.scss */
  .footer_row {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  /* line 75, ../sass/footer.scss */
  .footer_row {
    width: 80%;
  }
}
