@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oxygen);
/* line 4, ../sass/header.scss */
body {
  font-family: 'Oxygen', sans-serif;
}

/*** Media CSS ***/
@media screen and (max-width: 767px) {
  /* line 10, ../sass/header.scss */
  img#featured_image {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 15, ../sass/header.scss */
  div#featured-image {
    padding: 0px;
  }

  /* hides shorter background color for global search */
  /* line 19, ../sass/header.scss */
  .region.region-global-search {
    background-color: transparent !important;
    border: none !important;
  }

  /* replaces with full width background color and border for global search */
  /* line 24, ../sass/header.scss */
  div#global-search {
    padding-top: 1%;
  }
}
/****************
	Logo Area
*****************/
/* line 34, ../sass/header.scss */
.dc_logo {
  float: right;
}

@media screen and (max-width: 767px) {
  /* line 38, ../sass/header.scss */
  .dc_logo {
    float: left;
  }
}
/* line 43, ../sass/header.scss */
div#DC-logo {
  margin-top: 1%;
}

/* line 46, ../sass/header.scss */
.navbar.container {
  background-color: white;
}

/* line 50, ../sass/header.scss */
header#navbar {
  margin-bottom: 0px;
  margin-top: 0px;
}

/* line 54, ../sass/header.scss */
a.name.navbar-brand {
  font-family: Pinyon Script;
  font-size: large;
  text-shadow: 1px 1px 1px #aaa;
}

/* line 60, ../sass/header.scss */
.navbar-default {
  border: none;
}

/******************
	Feat. Image
******************/
/* line 67, ../sass/header.scss */
div#featured-image {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

/* line 72, ../sass/header.scss */
img#featured_image {
  width: 80%;
  position: relative;
  z-index: 1;
}

/* line 79, ../sass/header.scss */
div#global-search {
  position: relative;
  z-index: 2;
  margin-top: -40px;
  height: 40px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
/* line 87, ../sass/header.scss */
div#global-search a {
  color: #e18c24;
  font-size: small;
}

/* creates shorter wideth background for global search */
/* line 93, ../sass/header.scss */
.region.region-global-search {
  background-color: rgba(9, 9, 9, 0.5);
  border-bottom: 2px solid #000;
  height: 40px;
}

/* line 99, ../sass/header.scss */
.image_details.pull-right {
  padding-top: 10px;
  padding-right: 10px;
  font-family: 'Lato', sans-serif;
}
