@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oxygen);
/* line 4, ../sass/header.scss */
body {
  font-family: 'Oxygen', sans-serif;
}

/*** Media CSS ***/
@media screen and (max-width: 767px) {
  /* line 10, ../sass/header.scss */
  img#featured_image {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 15, ../sass/header.scss */
  div#featured-image, div#menu-container {
    width: 95% !important;
  }

  /* line 18, ../sass/header.scss */
  div#featured-image {
    padding: 0px;
  }

  /* hides shorter background color for global search */
  /* line 22, ../sass/header.scss */
  .region.region-global-search {
    background-color: transparent !important;
    border: none !important;
  }

  /* replaces with full width background color and border for global search */
  /* line 27, ../sass/header.scss */
  div#global-search {
    padding-top: 1%;
  }
}
/****************
	Logo Area
*****************/
/* line 37, ../sass/header.scss */
.dc_logo {
  float: right;
}

@media screen and (max-width: 767px) {
  /* line 41, ../sass/header.scss */
  .dc_logo {
    float: left;
  }
}
/* line 45, ../sass/header.scss */
div#DC-logo {
  float: right;
}

/* line 49, ../sass/header.scss */
div#DC-logo {
  margin-top: 1%;
}

/* line 52, ../sass/header.scss */
.navbar.container {
  background-color: white;
}

/* line 56, ../sass/header.scss */
header#navbar {
  margin-bottom: 0px;
  margin-top: 0px;
}

/* line 60, ../sass/header.scss */
a.name.navbar-brand {
  font-family: Pinyon Script;
  font-size: large;
  text-shadow: 1px 1px 1px #aaa;
}

/* line 66, ../sass/header.scss */
.navbar-default {
  border: none;
}

/******************
	Feat. Image
******************/
/* line 73, ../sass/header.scss */
div#featured-image {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0px;
  padding-left: 0px;
}

/*
img#featured_image {
	width: 80%;
	//overlapping css with search bar
	position: relative;
	z-index: 1;
}
*/
/* line 89, ../sass/header.scss */
div#global-search {
  position: relative;
  z-index: 2;
  margin-top: -40px;
  height: 40px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0px;
  padding-left: 0px;
}

/* line 101, ../sass/header.scss */
.region.region-global-search {
  background-color: rgba(9, 9, 9, 0.5);
  border-bottom: 2px solid #000;
  height: 40px;
}
