/*** Mega Menu Main Styles ***/
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Oxygen);
/* line 2, ../sass/megamenu.scss */
div#md-megamenu-1 {
  background-color: #2E2E2E;
  border-bottom: none;
}

/* line 7, ../sass/megamenu.scss */
#md-megamenu-1 .awemenu-item-level-1 > a {
  font-size: 14px;
  color: #ffffff;
}

/* line 12, ../sass/megamenu.scss */
div#menu-container {
  background-color: #2E2E2E;
  border-bottom: 2px solid #000;
  border-top: 4px solid #a391b1;
}

/* line 17, ../sass/megamenu.scss */
div#featured-image {
  padding-right: 0px;
  padding-left: 0px;
}

/* line 22, ../sass/megamenu.scss */
#md-megamenu-1 .awemenu-submenu {
  background-color: rgba(0, 0, 0, 0.9);
}

/* line 26, ../sass/megamenu.scss */
section#block-md-megamenu-1 {
  font-family: 'Quicksand', sans-serif;
}

/*** End Mega Menu Main Styles ***/
/*** Submenu Styles ***/
/* line 32, ../sass/megamenu.scss */
a.submenu_link {
  font-size: 14px;
  color: whitesmoke;
  padding: 5px;
  text-transform: uppercase;
}

/* line 39, ../sass/megamenu.scss */
a.submenu_link:hover {
  color: #8446ac;
}

/* line 43, ../sass/megamenu.scss */
.line > hr {
  margin: 25px 0;
  height: 1px;
  border: 0;
  background: #f0ad4e;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #f0ad4e));
}

/* line 52, ../sass/megamenu.scss */
.md-separator-text > div > h6 {
  font-size: 14px;
  color: #f0ad4e !important;
  padding: 1% 0% 1% 0%;
  text-align: center;
}

/* line 59, ../sass/megamenu.scss */
.mm-image {
  width: 135px;
  padding: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*** End Mega Menu Main Styles ***/
