/**
 * Place your custom styles here.  test
 */
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Cinzel);
/* line 4, ../sass/header.scss */
body {
  font-family: 'Oxygen', sans-serif;
}

/*** Media CSS ***/
@media screen and (max-width: 767px) {
  /* line 10, ../sass/header.scss */
  img#featured_image {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 15, ../sass/header.scss */
  div#featured-image {
    padding: 0px;
  }

  /* hides shorter background color for global search */
  /* line 19, ../sass/header.scss */
  .region.region-global-search {
    background-color: transparent !important;
    border: none !important;
  }

  /* replaces with full width background color and border for global search */
  /* line 24, ../sass/header.scss */
  div#global-search {
    background-color: rgba(9, 9, 9, 0.5);
    border-bottom: 2px solid #000;
  }
}
/****************
	Logo Area
*****************/
/* line 33, ../sass/header.scss */
.dc_logo {
  float: right;
}

@media screen and (max-width: 767px) {
  /* line 37, ../sass/header.scss */
  .dc_logo {
    float: left;
  }
}
/* line 42, ../sass/header.scss */
div#DC-logo {
  margin-top: 1%;
}

/* line 45, ../sass/header.scss */
.navbar.container {
  background-color: white;
}

/* line 49, ../sass/header.scss */
header#navbar {
  margin-bottom: 0px;
  margin-top: 0px;
}

/* line 53, ../sass/header.scss */
a.name.navbar-brand {
  font-family: Pinyon Script;
  font-size: large;
  text-shadow: 1px 1px 1px #aaa;
}

/* line 59, ../sass/header.scss */
.navbar-default {
  border: none;
}

/******************
	Feat. Image
******************/
/* line 69, ../sass/header.scss */
img#featured_image {
  width: 80%;
  position: relative;
  z-index: 1;
}

/* line 76, ../sass/header.scss */
div#global-search {
  position: relative;
  z-index: 2;
  margin-top: -40px;
  height: 40px;
  /* 	background-color: rgba( 9, 9, 9, .5) */
}
/* line 83, ../sass/header.scss */
div#global-search a {
  color: #e18c24;
  font-size: small;
}

/* creates shorter wideth background for global search */
/* line 89, ../sass/header.scss */
.region.region-global-search {
  background-color: rgba(9, 9, 9, 0.5);
  border-bottom: 2px solid #000;
  height: 40px;
}

/* line 95, ../sass/header.scss */
.image_details.pull-right {
  padding-top: 10px;
  padding-right: 10px;
  font-family: 'Lato', sans-serif;
}

/********************
	Footer Styles
*********************/
/* line 6, ../sass/footer.scss */
div#footer {
  color: #a3a3a3;
  padding: 1% 0 2% 2%;
  background-image: url("../images/black_mamba.png");
}

/* line 12, ../sass/footer.scss */
.footer_title {
  color: #ffffff;
  font-size: 16px;
  margin: 20px 0px 0px 0px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  letter-spacing: 2px;
}

/* line 21, ../sass/footer.scss */
.footer {
  border-top: none;
}

/* line 26, ../sass/footer.scss */
.footer_columns a {
  color: #00adad;
}
/* line 29, ../sass/footer.scss */
.footer_columns a:hover {
  color: darkslategray;
}

/* line 34, ../sass/footer.scss */
.footer_row {
  width: 30%;
}
/* line 36, ../sass/footer.scss */
.footer_row hr {
  border-top: 1px solid #454444;
}

/***********************************
	Stewart Education Foundation
***********************************/
/* line 46, ../sass/footer.scss */
#stewart_eduction {
  text-align: right;
  font-family: cinzel;
}

/* line 50, ../sass/footer.scss */
#ste_edu_foundation {
  background-color: #2E2E2E;
  border-top: 2px solid #3e3e3e;
}

/* line 55, ../sass/footer.scss */
#ste_edu_foundation > .row > div > footer.footer.container {
  padding: 4px 4px 4px 4px;
  margin: 0px;
  width: 100%;
}

/*****************
	Mobile Css
******************/
@media screen and (max-width: 767px) {
  /* line 65, ../sass/footer.scss */
  div#footer {
    padding-bottom: 6%;
  }
}
@media screen and (max-width: 991px) {
  /* line 70, ../sass/footer.scss */
  .footer_row {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  /* line 75, ../sass/footer.scss */
  .footer_row {
    width: 80%;
  }
}
/** Media CSS **/
@media screen and (max-width: 991px) {
  /* line 3, ../sass/content.scss */
  a.btn.btn-primary.center-block {
    /*
    		margin-left: 2%;
    		width: 20%;
    */
  }
}
@media screen and (max-width: 767px) {
  /* line 11, ../sass/content.scss */
  dsection#block-webform-client-block-9 {
    width: 85%;
  }

  /* line 14, ../sass/content.scss */
  div#global-search {
    margin-top: 0px;
    z-index: 0;
  }
}
/*******************************************
	Front Page Global Collection Search
********************************************/
/* Centers the Global Search Bar */
/* line 27, ../sass/content.scss */
section#block-webform-client-block-9 {
  width: 50%;
  margin: 0 auto;
  padding-top: 3px;
}

/* line 32, ../sass/content.scss */
button.webform-submit.button-primary.btn.btn-primary.form-submit {
  display: none;
}

/**************************
		Flexslider
**************************/
/* line 39, ../sass/content.scss */
div#flexslider-1 {
  border: 0px;
  margin-bottom: 0px;
}

/*************************************
		Collections List/View
**************************************/
/*** Button Styles ***/
/* line 48, ../sass/content.scss */
#views-bootstrap-thumbnail-1 > div > div > .thumbnail > .caption > .btn-primary {
  background-color: cadetblue;
  border-color: green;
  width: 80%;
}

/* line 53, ../sass/content.scss */
#views-bootstrap-thumbnail-1 > div > div > .thumbnail > .caption > .btn-primary:hover {
  background-color: #467779;
  border-color: #22393a;
}

/* button alignment */
/* line 58, ../sass/content.scss */
a.btn.btn-primary.center-block {
  position: absolute;
  margin-bottom: 12%;
  bottom: 0;
  width: 80%;
  left: 50%;
  margin-left: -40%;
}

/* Height of Views */
/* line 67, ../sass/content.scss */
#views-bootstrap-thumbnail-1 > div > div > .thumbnail {
  height: 400px;
}

/*** Image in View ***/
/* line 71, ../sass/content.scss */
.thumbnail > img, .thumbnail a > img {
  width: 200px;
  height: 115px;
  margin-top: 3%;
}

/* Title size */
/* line 77, ../sass/content.scss */
.thumbnail > .caption > h3 > a {
  font-size: large;
}

/* line 80, ../sass/content.scss */
.thumbnail > .caption > h3 {
  margin-top: 5px;
}

/*******************************
	   Second Page Styles
*******************************/
/* Centering Image */
/* line 87, ../sass/content.scss */
#block-system-main > div > div > div > div > div > div > img.img-responsive {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 1%;
}

/* Adjust title font size */
/* line 95, ../sass/content.scss */
#block-system-main > div > div > div > div > div > div > h2 {
  font-size: 24px;
}

/* Adds padding around paragraph below image */
/* line 99, ../sass/content.scss */
#block-system-main > div > div > div > div > div > div > p {
  padding-bottom: 2%;
  padding-top: 1%;
}

/*
$wsu-white:							#f3f3f3;
$wsu-purple:						#492365;
$wsu-grey:							#ededed;
*/
