/**
 * Place your custom styles here.  test
 */
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Cinzel);
/* line 4, ../sass/header.scss */
body {
  font-family: 'Oxygen', sans-serif;
}

/*** Media CSS ***/
@media screen and (max-width: 767px) {
  /* line 10, ../sass/header.scss */
  img#featured_image {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 15, ../sass/header.scss */
  div#featured-image {
    padding: 0px;
    border-bottom: 2px solid #000;
  }
}
/****************
	Logo Area
*****************/
/* line 25, ../sass/header.scss */
.dc_logo {
  float: right;
}

@media screen and (max-width: 767px) {
  /* line 29, ../sass/header.scss */
  .dc_logo {
    float: left;
  }
}
/* line 34, ../sass/header.scss */
div#DC-logo {
  margin-top: 1%;
}

/* line 37, ../sass/header.scss */
.navbar.container {
  background-color: white;
}

/* line 41, ../sass/header.scss */
header#navbar {
  margin-bottom: 0px;
  margin-top: 0px;
}

/* line 46, ../sass/header.scss */
a.name.navbar-brand {
  font-family: Pinyon Script;
  font-size: large;
  text-shadow: 1px 1px 1px #aaa;
}

/* line 52, ../sass/header.scss */
.navbar-default {
  border: none;
}

/******************
	Feat. Image
******************/
/* line 60, ../sass/header.scss */
div#featured-image {
  border-bottom: 2px solid #000;
}

/* line 64, ../sass/header.scss */
img#featured_image {
  width: 80%;
  position: relative;
  z-index: 1;
}

/* line 72, ../sass/header.scss */
div#global-search {
  position: relative;
  z-index: 2;
  margin-top: -40px;
  height: 40px;
  background-color: rgba(9, 9, 9, 0.5);
}
/* line 79, ../sass/header.scss */
div#global-search a {
  color: #e18c24;
  font-size: small;
}

/* line 85, ../sass/header.scss */
.image_details.pull-right {
  padding-top: 10px;
  padding-right: 10px;
  font-family: 'Lato', sans-serif;
}

/********************
	Footer Styles
*********************/
/* line 6, ../sass/footer.scss */
div#footer {
  color: #a3a3a3;
  padding: 1% 0 2% 2%;
  background-image: url("../images/black_mamba.png");
}

/* line 12, ../sass/footer.scss */
.footer_title {
  color: #ffffff;
  font-size: 16px;
  margin: 20px 0px 0px 0px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  letter-spacing: 2px;
}

/* line 21, ../sass/footer.scss */
.footer {
  border-top: none;
}

/* line 26, ../sass/footer.scss */
.footer_columns a {
  color: #00adad;
}
/* line 29, ../sass/footer.scss */
.footer_columns a:hover {
  color: darkslategray;
}

/* line 34, ../sass/footer.scss */
.footer_row {
  width: 30%;
}
/* line 36, ../sass/footer.scss */
.footer_row hr {
  border-top: 1px solid #454444;
}

/***********************************
	Stewart Education Foundation
***********************************/
/* line 46, ../sass/footer.scss */
#stewart_eduction {
  text-align: right;
  font-family: cinzel;
}

/* line 50, ../sass/footer.scss */
#ste_edu_foundation {
  background-color: #2E2E2E;
  border-top: 2px solid #3e3e3e;
}

/* line 55, ../sass/footer.scss */
#ste_edu_foundation > .row > div > footer.footer.container {
  padding: 4px 4px 4px 4px;
  margin: 0px;
  width: 100%;
}

/*****************
	Mobile Css
******************/
@media screen and (max-width: 767px) {
  /* line 65, ../sass/footer.scss */
  div#footer {
    padding-bottom: 6%;
  }
}
@media screen and (max-width: 991px) {
  /* line 70, ../sass/footer.scss */
  .footer_row {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  /* line 75, ../sass/footer.scss */
  .footer_row {
    width: 80%;
  }
}
/*
$wsu-white:							#f3f3f3;
$wsu-purple:						#492365;
$wsu-grey:							#ededed;
*/
