/** Media CSS **/
@media screen and (max-width: 991px){
	a.btn.btn-primary.center-block {
/*
		margin-left: 2%;
		width: 20%;
*/
	}
}
@media screen and (max-width: 767px){
	dsection#block-webform-client-block-9 {
		width: 85%;
	}
	div#global-search {
		margin-top: 0px;
		z-index: 0;
		margin-bottom: 2%;
		margin-top: 1%;
	}
	/* responsive width of global search form */
	section#block-webform-client-block-9 {
		width: 100% !important;
	}
	/* second page collection search */
	.form-item.webform-component.webform-component-textfield.webform-component--collections-search.form-group.form-item.form-item-submitted-collections-search.form-type-textfield.form-group {
		margin-top: 4%;
		margin-bottom: 4%;
		margin-left: auto;
		margin-right: auto;
	}
	/** spacing **/
	/* collection subjects */
	.field.field-name-field-col-collection-subjects.field-type-taxonomy-term-reference.field-label-above {
		padding-bottom: 1%;
	}
	/* paragraph text */
	.field.field-name-body.field-type-text-with-summary.field-label-hidden {
		padding-bottom: 1%;
	}
	/* removes extra margin space above title of collection */
	.main-container > div > .col-sm-12 > h2#page-title {
		margin-top: 0px;
	}
}

/*******************************************
	Front Page Global Collection Search
********************************************/
/* Centers the Global Search Bar */
section#block-webform-client-block-9 {
	width: 58%;
	margin: 0 auto;
	padding-top: 3px;
}
button.webform-submit.button-primary.btn.btn-primary.form-submit {
	display: none;
}

/**************************
		Flexslider
**************************/
div#flexslider-1 {
	border: 0px;
	margin-bottom: 0px;
}

/*************************************
		Collections List/View
**************************************/
/*** Button Styles ***/
#views-bootstrap-thumbnail-1 > div > div > .thumbnail > .caption > .btn-primary {
	background-color: cadetblue;
	border-color: green;
	width: 80%;
}
#views-bootstrap-thumbnail-1 > div > div > .thumbnail > .caption > .btn-primary:hover {
	background-color: #467779;
	border-color: #22393a;
}
/* button alignment */
a.btn.btn-primary.center-block {
	position: absolute;
    margin-bottom: 12%;
    bottom: 0;
    width: 80%;
    left: 50%;
    margin-left: -40%;
}
/* Height of Views */
#views-bootstrap-thumbnail-1 > div > div > .thumbnail {
	height: 400px;
}
/*** Image in View ***/
.thumbnail > img, .thumbnail a > img {
	width: /* 60% */200px;
	height:	115px;
	margin-top: 3%;
}
/* Title size */
.thumbnail > .caption> h3 > a {
	font-size: large;
}
.thumbnail > .caption> h3 {
	margin-top: 5px;
}
/*******************************
	   Second Page Styles
*******************************/
/* Centering Image */
#block-system-main > div > div > div > div > div > div > img.img-responsive {
    padding-bottom: 1%;
}
/* Adjust title font size */
#block-system-main > div > div > div > div > div > div > h2, h2#page-title {
	font-size: 24px;
}
/* Adds padding around paragraph below image */
#block-system-main > div > div > div > div > div > div > p {
	padding-bottom: 1%;
    padding-top: 1%;
}
/* Adds padding below collections abb: content */
.field.field-name-field-collection-abb-.field-type-text.field-label-above {
	padding-bottom: 2%;
}
/* Collection Search Bar */
.form-item.webform-component.webform-component-textfield.webform-component--collections-search.form-group.form-item.form-item-submitted-collections-search.form-type-textfield.form-group {
	width: 80%;
	padding-top: 1%;
	padding-bottom: 1%;
}