@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oxygen);

body {
	font-family: 'Oxygen', sans-serif;
}

/*** Media CSS ***/
@media screen and (max-width: 767px){
	img#featured_image {
		width: 100% !important;
		padding-left: 0px;
		padding-right: 0px;
	}
	div#featured-image {
		padding: 0px;
	}
	/* hides shorter background color for global search */
	.region.region-global-search {
		background-color: transparent !important;
		border: none !important;
	}
	/* replaces with full width background color and border for global search */
	div#global-search {
// 		background-color: rgba( 9, 9, 9, .9);
// 		border-bottom: 2px solid #000;
		padding-top: 1%;
	}
}
/****************
	Logo Area
*****************/
//positions logo in header
.dc_logo {
	float: right;
}
@media screen and (max-width: 767px){
	.dc_logo {
		float: left;
	}
}
div#DC-logo {
	float: right;
}
//margin to position logo image
div#DC-logo {
	margin-top: 1%;
}
.navbar.container {
	background-color: white;
}
//removes margins space on header area
header#navbar {
	margin-bottom: 0px;
	margin-top: 0px;
}
a.name.navbar-brand {
	font-family: Pinyon Script;
	font-size: large;
	text-shadow: 1px 1px 1px #aaa;
}
//removes border in logo section
.navbar-default {
	border: none;
}
/******************
	Feat. Image
******************/
//background color
div#featured-image {
	width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
    padding-left: 0px;
}
/*
img#featured_image {
	width: 80%;
	//overlapping css with search bar
	position: relative;
	z-index: 1;
}
*/
//overlapping css 
div#global-search {
	position: relative;
	z-index: 2;
	margin-top: -40px;
	height: 40px;
	width: 85%;
	margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
    padding-left: 0px;
}

.region.region-global-search {
	background-color: rgba( 9, 9, 9, .5);
	border-bottom: 2px solid #000;
	height: 40px;
}