@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oxygen);

body {
	font-family: 'Oxygen', sans-serif;
}

/****************
	Logo Area
*****************/
//positions logo in header
.dc_logo {
	float: right;
}
@media screen and (max-width: 767px){
	.dc_logo {
		float: left;
	}
}
//margin to position logo image
div#library-hours {
	margin-top: 1%;
}
.navbar.container {
	background-color: white;
}
//removes margins space on header area
header#navbar {
	margin-bottom: 0px;
	margin-top: 0px;
}

a.name.navbar-brand {
	font-family: Pinyon Script;
	font-size: large;
	text-shadow: 1px 1px 1px #aaa;
}
//removes border in logo section
.navbar-default {
	border: none;
}

/******************
	Feat. Image
******************/
//background color
/*
div#featured-image {
	background-color: black;
	padding-left: 0px;
	padding-right: 0px;
	border-bottom: 2px solid #000;
}
*/
/*
img#featured_image {
	width: 100%;
	//overlapping css with search bar
	position: relative;
	z-index: 1;
}
*/
//overlapping css for image details 
/*
div#global-search {
position: relative;
	z-index: 2;
	margin-top: -40px;
	height: 40px;
	background-color: rgba( 9, 9, 9, .5);
		//font styles
		a { 
			color: #e18c24;
			font-size: small;
		}
}
*/
//position image details
/*
.image_details.pull-right {
	padding-top: 10px;
	padding-right: 10px;
	font-family: 'Lato', sans-serif;
}
*/