/*** Mega Menu Main Styles ***/
div#md-megamenu-1 {
	background-color: #2E2E2E;
	border-bottom: none;
}
//megamenu font colors
#md-megamenu-1 .awemenu-item-level-1 > a  {
	font-size: 14px;
	color: #ffffff;
}
//container styles
div#menu-container {
	background-color: #2E2E2E;
	border-bottom: 2px solid #000;
	border-top: 4px solid /* #beb0c8 */#a391b1;
}
div#featured-image {
    padding-right: 0px;
    padding-left: 0px;
}
//background transperancy 
#md-megamenu-1 .awemenu-submenu {
	background-color: rgba(0,0,0,.9);
}
//megamenu font
section#block-md-megamenu-1 {
	font-family: 'Quicksand', sans-serif;
}
/*** End Mega Menu Main Styles ***/

/*** Submenu Styles ***/
a.submenu_link {
// 	font-family: "Poiret One";
	font-size: 14px;
	color: whitesmoke;
	padding: 5px;
	text-transform: uppercase;
}
a.submenu_link:hover {
	color: #8446ac;
}
//horizontal line color & style
.line > hr {
	margin: 25px 0;
    height: 1px;
    border: 0;
    background: #f0ad4e;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #f0ad4e));
}

//menu seperator title styles on menu
.md-separator-text > div > h6 {
	font-size: 14px;
	color: /* #bdbdbd */#f0ad4e !important;
	padding: 1% 0% 1% 0%;
	text-align: center;
}
//image styles
.mm-image {
	width: 135px;
	padding: 2%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*** End Mega Menu Main Styles ***/

//Importing Fonts
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Oxygen);



